/* input custom fonts */
@font-face {
  font-family: Sansation;
  src: url("../assets/fonts/Sansation.ttf"),
    url("https://webdev.aut.ac.nz/~sss0276/assign1/assets/fonts/Sansation.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato.ttf"),
    url("https://webdev.aut.ac.nz/~sss0276/assign1/assets/fonts/Lato.ttf");
}

@import "tailwindcss";

@theme {
  --font-sansation: Sansation, sans-serif;
  --font-lato: Lato, sans-serif;
}
